<p>                 # stats paragraph
  <strong>Stats:</strong> <br/>
  Strength:
  <%= @characters.strength %> <br/>
  Dexterity:
  <%= @characters.dexterity %> <br/>
  Constitution:
  <%= @characters.constitution %> <br/>
  Intelligence:
  <%= @characters.intelligence %> <br/>
  Wisdom:
  <%= @characters.wisdom %> <br/>
  Charisma:
  <%= @characters.charisma %> <br/>
</p>

<p>                 # equipment paragraph
    <strong>Equipment:</strong> <br />
    You are profecient in <%= @character.armorClass %> and in your pockets you find <%= @character.gold %> GP.<br />
</p>